/*标签选择器，选中所有标签*/
body,ul,p{
    margin: 0;
    padding: 0;
}
/*类选择器*/
.container{
    width: 100%;
    /*height: 400px;*/
    background: #EBEBEB;
}
/*header begin-------------------*/
.header{

}
.header .logo{
    width: 100%;
    height: 222px;
    background-image: url("../images/logo.jpg");
    background-position-y: -130px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header .userInfo{
    width: 140px;
    height: 64px;
    background: rgba(255, 255, 255, 0.1);
    float: right;
    margin: 40px;
    border-radius: 5px;
    padding: 5px;
}
.header .userInfo .userIcon{
    /*vertical-align: middle;*/
    width: 64px;
    height: 64px;
}

.header .userInfo .userId{
    font-size: 20px;
    color: white;
    line-height: 40px;
}
.header .nav{
    width: 100%;
    height: 58px;
    display: block;
    background: #FFFFFF;
}
.header .nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.header .nav ul li{
    width: 70px;
    height: 58px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: small;
    /*文本居中*/
    text-align: center;
    /*垂直居中*/
    line-height: 60px;
}
.header .nav ul li:first-child{
    border-bottom: solid 2px #E67E22;
}
.header .nav ul li a{
    /*超链接下划线*/
    text-decoration: none;
    color: #505050;
}
.header .nav ul li:hover a{
    color: #E67E22;
}
.header .nav-phone{
    width: 100%;
    height: 58px;
    padding: 15px;
    box-sizing: border-box;
    background: #FFFFFF;
    display: none;
}
.header .nav-phone .nav-butten{
    width: 28px;
    height: 28px;
    margin: auto;
    /*margin-top: 15px;*/
}
/*header end----------------------*/

/*
     pc:    970<普通屏<1170<高清屏
     pad:   750-970
     phone: <750
*/

/*main begin-----------------------*/
.main{
    width: 1142px;
    padding-top: 37px;
    /*居中*/
    margin: auto;
    /*写在父容器中*/
    /*设置div排列方式*/
    display: flex;
    /*排列方向*/
    flex-direction: row;
    /*对齐方向:center,flex-start,flex-end,space-arrond,space-between*/
    justify-content: space-between;
    flex-wrap: wrap;
}
.main .main-left{
    width: 750px;
}
/*文章布局*/
.main .main-left .article{
    width: 100%;
    padding: 35px;
    box-sizing: border-box;
    background: white;
    margin-bottom: 30px;
}
/*文章标题*/
.main .main-left .article .post-head .post-title{
    text-align: center;
    font-size: 26pt;
    margin: 0;
}
/*文章作者日期信息栏*/
.main .main-left .article .post-head .post-meta{
    font-size: x-small;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    color: grey;
}
/*作者名标色*/
.main .main-left .article .post-meta .author a{
    text-decoration: none;
    color: #E67E22;
}
/*插图*/
.main .main-left .article .illustration{
    width: 100%;
}
/*正文预览*/
.main .main-left .article .post-content{
    font-size: large;
    margin-top: 15px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #444443;
}
/*阅读全文*/
.main .main-left .article .post-textlink{
    height: 36px;
    font-size: small;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*阅读全文按钮*/
.main .main-left .article .post-textlink div{
    width: 85px;
    line-height: 36px;
    font-size: small;
    background: #E67E22;
    text-align: center;
}
/*阅读全文链接*/
.main .main-left .article .post-textlink div a{
    width: 100%;
    color: white;
    /*扩大a标签选区*/
    display: inline-block;
    text-decoration: none;
}
/*hover变色*/
.main .main-left .article .post-textlink div:hover{
    background: black;
}
/*文章footer*/
.main .main-left .article .post-footer{
    height: 50px;
    padding-top: 5px;
}
/*线*/
.main .main-left .article .post-footer .line{
    height: 1px;
    width: 100%;
    background: #EBEBEB;
}
/*图标*/
.main .main-left .article .post-footer .icon{
    margin-top: 27px;
    color: #959595;
}
.main .main-left .article .post-footer .icon a{
    text-decoration: none;
    font-size: 14px;
    color: #959595;
}
.main .main-right{
    width: 362px;
}
.main .main-right>div{
    width: 100%;
    background: white;
    margin-bottom: 30px;
    font-size: 24px;
}
.main .main-right>div{
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}
.main .main-right div .line-seperate-long{
    width: 100%;
    height: 1px;
    background: #EBEBEB;
    margin-top: 5px;
}
.main .main-right div .line-seperate-short{
    width: 30%;
    height: 1px;
    background: #E67E22;
    margin-top: -1px;
    margin-bottom: 15px;
}
.main .main-right .community .contact{
    margin-top: 15px;
    font-size: 15px;
    color: #505050;
    display: flex;
    flex-direction: row;
}
.main .main-right .community .contact a{
    text-decoration: none;
    margin-left: 10px;
    color: #E67E22;
}
.main .main-right .download .download-button{
    width: 100%;
    height: 36px;
    background: #E67E22;
    text-align: center;
}
.main .main-right .download .download-button a{
    width: 100%;
    text-decoration: none;
    line-height: 36px;
    display: inline-block;
    font-size: 15px;
    color: white;
}
.main .main-right .download .download-button a:hover{
    background: black;
}
.main .main-right .label ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;margin-top: 15px;
}
.main .main-right .label ul li{
    border: 1px solid;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-left: 2px;
    margin: 4px;
    color: #EBEBEB;
    line-height: 12px;
}
.main .main-right .label ul li a{
    text-decoration: none;
    display: inline-block;
    margin: auto;
    color: #959595;
    font-size: 12px;
}
/*main end-------------------------*/

/*footer begin-------------------*/
.footer{
    width: 100%;
    background: #202020;
}
.footer .inner-box{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.footer .footer-inner{
    width: 300px;
    color: white;
    padding: 30px;
    box-sizing: border-box;
    font-size: 20px;
}
.footer .footer-inner .line-seperate-long{
    width: 100%;
    height: 1px;
    background: white;
    margin-top: 5px;
}
.footer .footer-inner .line-seperate-short{
    width: 30%;
    height: 1px;
    background: #E67E22;
    margin-top: -1px;
}
.footer .footer-inner ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
}
.footer .footer-inner ul li{
    margin-right: 3px;
}
.footer .footer-inner ul li a{
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color:#959595;
}
.footer .footer-inner ul li:hover{
    background: #E67E22;
}
.footer .copyright{
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /*line-height: 80px;*/
    background: #111111;
    color: #555555;
    font-size: 13px;
}

@media screen and (max-width: 750px) {
    .main{
        width: 100%;
        justify-content: center;
    }
    .main .main-left{
        width: 95%;
    }
    .main .main-right{
        width: 95%;
    }
    .header .logo{
        background-position: center;
    }
    .header .nav{
        display: none;
    }
    .header .nav-phone{
        display: block;
    }
    .footer .inner-box .footer-inner{
        width: 100%;
    }
}
@media screen and (max-width: 970px) and (min-width: 750px) {
    .main{
        width: 100%;
        justify-content: center;
    }
    .main .main-left{
        width: 80%;
    }
    .main .main-right{
        width: 80%;
    }
    .footer .inner-box{
        width: 100%;
    }
    .footer .inner-box .footer-inner{
        width: 200px;
    }
}
@media all and (max-width: 1140px) and (min-width: 970px) {
    .main{
        width: 942px;
    }
    .main .main-left{
        width: 650px;
    }
    .main .main-right{
        width: 262px;
    }
    .footer .inner-box{
        width: 100%;
    }
    .footer .inner-box .footer-inner{
        width: 250px;
    }
}
@media screen and (min-width: 1140px) {

}
/*footer end---------------------*/
/*选中header里的两个div*/
/*空格选中所有子元素*/
/*逗号选中并列两个，和*/
/*大于号选中直接子元素*/
